/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(/src/font/Vazir-Medium.woff) format("woff");
  }
  * {
    padding: 0;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "vazir";
  }